* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    background-color: rgb(238, 233, 233);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    /* width: 80rem; */
    max-width: 70rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

button {
    padding: .3rem .5rem;
}

/* ** header ** */
.main-head {
    text-align: center;
    margin: 2rem;
    color: rgb(0, 235, 252);
    
}
.main-head .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    /* background-color: rgb(0, 0, 0); */
}
.navbar ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

/* ** card ** */
.card-img {
    max-width: 13rem;
    height: 15rem;
    margin: .90rem auto;
}
.card {
    text-align: center;
    /* background-color: cadetblue; */
    flex: 0 1 20rem;
    margin-top: 4rem;
}
.card-header {
    border-width: 5px;
    border-top: 5px brown solid;
    font-size: 120%;
}
.card-body {
    margin: 1rem auto;
}
.card-body div p:nth-child(1){
    margin-bottom: .5rem;
}
.card-footer button {
    width: 35%;
    border-top-right-radius: 16px;
    border-style: none;
    background-color: rgba(165, 42, 42, 0.897);
    color: whitesmoke;
}
button:hover {
    opacity: .8;
    cursor: pointer;
    transition: all .4s;
}

/* ** Form ** */
.form-container {
    width: 25rem;
    background-color: rgb(41, 39, 39);
    padding: 3rem 0;
    justify-content: center;
    color: floralwhite;
}
.form-container .form-head {
    margin-top: -1rem;
    margin-bottom: 2rem;
}
.form-container div {
    margin: 1rem;
    width: 100%;
}
.form-container label {
    font-size: 120%;
}
.form-container .input-form input {
    margin-top: .3rem;
    width: 100%;
    height: 2.3rem;
    border-radius: 6px;
    font-size: 100%;
    padding-left: .5rem;
    color: rgba(0, 0, 0, 0.826);
}
.form-container input:focus {
    box-shadow: 0px 0px 5px 2px rgb(167, 167, 175);
    border-style: none;
}

.hide {
    display: none;
    transition: all 2s;
}

/* ** footer ** */
.main-footer {
    margin-top: 3rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    background-color: rgb(61, 236, 236);
    text-align: center;
}

