* {
    box-sizing: border-box;
    margin:0%;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: rgb(238, 233, 233);
}

.main-head {
    text-align: center;
    margin: 2rem;
    color: rgb(76, 0, 252);
    

}

.container {
    width: 50rem;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card {
    background-color: rgb(158, 162, 168);
    margin: .5rem;
    flex-shrink: 0;
    border-radius: 16px;
    box-shadow: 1px 1px 3px 0px rgb(41, 39, 39);

    width: 25rem;
    padding: .8rem;
    text-align: center;
}

.card-head {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 1.3rem;
    color: rgb(76, 0, 252);
    text-align: center;
    font-size: 140%;
}

.card-body {
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    margin: 1rem;
}
.card-body p:nth-child(1) {
    margin: .5rem;
}

.hide {
    display: none;
}
